/* styles/fonts.css */
@font-face {
    font-family: 'Vazir';
    src: url('../public/fonts/vazir/Vazir-Light.woff2') format('woff2'),
    url('../public/fonts/vazir/Vazir-Light.woff') format('woff');
    font-style: normal;
}

body{
    font-family: 'Vazir', sans-serif !important
}

.input-placeHolder::placeholder {
    text-align: right;
    font-family: 'Vazir'
}
.input-placeHolder:focus{
    outline: none !important;
    border: none;
}

.map-container {
    height: 200px; /* You can adjust this value */
    width: 100%;   /* Full width of the container */
}
